.margin {
  width: 1200px;
  margin: 0 auto; }

header {
  height: 40px;
  background: #8c222c;
  font-size: 14px;
  text-align: center;
  color: #fff; }
  header .header-l {
    float: left;
    line-height: 40px; }
  header .header-r {
    float: right;
    display: flex;
    flex-direction: row; }
    header .header-r li {
      margin: 12px 8px; }
      header .header-r li a {
        color: #fff; }
      header .header-r li.last {
        border-left: 1px solid #fff;
        padding-left: 12px; }

#search {
  height: 100px;
  background: #f2f1ea; }
  #search .logo {
    float: left; }
    #search .logo img {
      width: 262px;
      margin-top: 20px; }
  #search .search {
    float: right; }
    #search .search .search-t {
      text-align: left;
      margin-top: 6px; }
      #search .search .search-t span {
        margin-right: 10px;
        line-height: 24px; }
    #search .search .search-m {
      width: 680px;
      display: flex;
      justify-content: space-between; }
      #search .search .search-m form {
        width: 638px;
        height: 36px;
        border: 2px solid #8c222c;
        background: #fff;
        display: flex; }
        #search .search .search-m form .txt {
          width: 480px;
          height: 32px;
          border: 0;
          padding: 18px;
          box-sizing: border-box;
          margin-bottom: 4px;
          font-size: 12px;
          float: left; }
        #search .search .search-m form .sale {
          width: 66px;
          text-indent: 26px;
          border: 0;
          border-left: 1px solid #ccc;
          float: left; }
        #search .search .search-m form .sub {
          width: 91px;
          height: 36px;
          border: 0;
          background-color: #8c222c;
          color: #fff;
          float: left; }
      #search .search .search-m a {
        width: 30px;
        margin: 6px 0 0 6px; }
    #search .search .search-b {
      font-size: 12px;
      line-height: 28px;
      display: flex; }
      #search .search .search-b a {
        margin-right: 10px; }

nav {
  height: 58px; }
  nav ul {
    display: flex;
    flex-direction: row; }
    nav ul li {
      line-height: 42px;
      margin: 5px 50px 0 0; }
      nav ul li.active {
        border-bottom: 2px solid #ccc; }
      nav ul li a {
        font-size: 20px; }

#main {
  background: #f7f7f6; }
  #main .margin .margin-t {
    display: flex;
    justify-content: space-between; }
    #main .margin .margin-t .main-l {
      font-size: 14px;
      width: 180px; }
      #main .margin .margin-t .main-l .main-l-new, #main .margin .margin-t .main-l .main-l-art, #main .margin .margin-t .main-l .main-l-cul {
        border: 1px solid #ccc; }
        #main .margin .margin-t .main-l .main-l-new ul, #main .margin .margin-t .main-l .main-l-art ul, #main .margin .margin-t .main-l .main-l-cul ul {
          background: #fff; }
          #main .margin .margin-t .main-l .main-l-new ul li, #main .margin .margin-t .main-l .main-l-art ul li, #main .margin .margin-t .main-l .main-l-cul ul li {
            border-bottom: 1px solid #ccc;
            display: flex;
            justify-content: space-between;
            padding: 6px 15px; }
            #main .margin .margin-t .main-l .main-l-new ul li.frist, #main .margin .margin-t .main-l .main-l-art ul li.frist, #main .margin .margin-t .main-l .main-l-cul ul li.frist {
              background: #8c222c;
              color: #fff; }
            #main .margin .margin-t .main-l .main-l-new ul li.two, #main .margin .margin-t .main-l .main-l-art ul li.two, #main .margin .margin-t .main-l .main-l-cul ul li.two {
              background: #f2f1ea; }
            #main .margin .margin-t .main-l .main-l-new ul li.last, #main .margin .margin-t .main-l .main-l-art ul li.last, #main .margin .margin-t .main-l .main-l-cul ul li.last {
              border-bottom: none; }
            #main .margin .margin-t .main-l .main-l-new ul li h3, #main .margin .margin-t .main-l .main-l-art ul li h3, #main .margin .margin-t .main-l .main-l-cul ul li h3 {
              background: #8c222c; }
            #main .margin .margin-t .main-l .main-l-new ul li div, #main .margin .margin-t .main-l .main-l-art ul li div, #main .margin .margin-t .main-l .main-l-cul ul li div {
              padding-right: 8px;
              display: flex; }
      #main .margin .margin-t .main-l .main-l-author ul li {
        margin: 12px 0; }
        #main .margin .margin-t .main-l .main-l-author ul li a img {
          width: 180px; }
      #main .margin .margin-t .main-l .main-l-talk .talk-t {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 10px; }
        #main .margin .margin-t .main-l .main-l-talk .talk-t h4 {
          font-size: 16px;
          line-height: 30px; }
        #main .margin .margin-t .main-l .main-l-talk .talk-t p {
          font-size: 12px;
          line-height: 24px;
          margin-left: 18px; }
      #main .margin .margin-t .main-l .main-l-talk .talk-m {
        display: flex;
        justify-content: space-between;
        padding: 10px 0; }
        #main .margin .margin-t .main-l .main-l-talk .talk-m span {
          font: 16px/2 ""; }
      #main .margin .margin-t .main-l .main-l-talk .talk-b {
        background: #fff;
        font: 12px/3 "";
        padding: 8px;
        box-sizing: border-box; }
    #main .margin .margin-t .main-r .banner {
      position: relative; }
      #main .margin .margin-t .main-r .banner .imgbox a {
        display: flex;
        position: absolute; }
        #main .margin .margin-t .main-r .banner .imgbox a img {
          width: 1010px;
          height: 270px; }
      #main .margin .margin-t .main-r .banner .imgtip {
        position: absolute;
        right: 20px;
        top: 10px;
        text-align: center; }
        #main .margin .margin-t .main-r .banner .imgtip li {
          background: rgba(255, 255, 255, 0.6);
          margin-top: 2px;
          width: 160px;
          height: 30px;
          color: #888;
          font: 12px/30px "";
          cursor: pointer; }
          #main .margin .margin-t .main-r .banner .imgtip li.hover {
            background: #fff;
            color: #222; }
    #main .margin .margin-t .main-r .banner1 {
      height: 270px; }
    #main .margin .margin-t .main-r .banner-b a {
      margin-top: 10px;
      display: flex; }
      #main .margin .margin-t .main-r .banner-b a img {
        width: 1010px; }
    #main .margin .margin-t .main-r .title, #main .margin .margin-t .main-r .self-run {
      display: flex;
      border-bottom: 1px solid #ccc; }
      #main .margin .margin-t .main-r .title h4, #main .margin .margin-t .main-r .self-run h4 {
        display: flex;
        font-size: 12px;
        line-height: 40px;
        padding: 10px 0; }
        #main .margin .margin-t .main-r .title h4 b, #main .margin .margin-t .main-r .self-run h4 b {
          text-indent: 20px;
          font-size: 20px;
          font-weight: 700; }
        #main .margin .margin-t .main-r .title h4 span, #main .margin .margin-t .main-r .self-run h4 span {
          margin: 0 6px;
          margin-top: 4px; }
        #main .margin .margin-t .main-r .title h4 a, #main .margin .margin-t .main-r .self-run h4 a {
          margin-top: 4px;
          color: blue; }
    #main .margin .margin-t .main-r .goodbook .good-t, #main .margin .margin-t .main-r .goodbook .good-b {
      display: flex;
      justify-content: space-around; }
      #main .margin .margin-t .main-r .goodbook .good-t li, #main .margin .margin-t .main-r .goodbook .good-b li {
        padding: 30px 0; }
        #main .margin .margin-t .main-r .goodbook .good-t li a img, #main .margin .margin-t .main-r .goodbook .good-b li a img {
          width: 100px;
          height: 140px; }
        #main .margin .margin-t .main-r .goodbook .good-t li a p, #main .margin .margin-t .main-r .goodbook .good-b li a p {
          width: 100px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font: 12px/2 "";
          color: #000; }
        #main .margin .margin-t .main-r .goodbook .good-t li b, #main .margin .margin-t .main-r .goodbook .good-b li b {
          font: 12px/2 "";
          color: #999; }
        #main .margin .margin-t .main-r .goodbook .good-t li div i, #main .margin .margin-t .main-r .goodbook .good-b li div i {
          color: #f70;
          font: 16px/2 ""; }
        #main .margin .margin-t .main-r .goodbook .good-t li div span, #main .margin .margin-t .main-r .goodbook .good-b li div span {
          color: #999; }
    #main .margin .margin-t .main-r .self-run h4 b .self {
      font-size: 12px;
      background: #8c222c;
      padding: 4px 6px;
      color: #fff;
      border-radius: 2px; }
    #main .margin .margin-t .main-r .self-good ul {
      display: flex;
      justify-content: space-between;
      padding: 30px 0; }
      #main .margin .margin-t .main-r .self-good ul li {
        border: 1px solid #ccc;
        background: #fff; }
        #main .margin .margin-t .main-r .self-good ul li a {
          display: flex; }
          #main .margin .margin-t .main-r .self-good ul li a img {
            width: 320px;
            height: 240px; }
        #main .margin .margin-t .main-r .self-good ul li .box {
          box-sizing: border-box;
          padding: 2px 16px; }
          #main .margin .margin-t .main-r .self-good ul li .box h3 {
            width: 270px;
            box-sizing: border-box;
            padding: 16px 0;
            margin-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
            #main .margin .margin-t .main-r .self-good ul li .box h3 a {
              font-size: 14px;
              color: #333; }
              #main .margin .margin-t .main-r .self-good ul li .box h3 a span {
                font-size: 12px;
                background: #8c222c;
                padding: 4px 6px;
                color: #fff;
                border-radius: 2px; }
          #main .margin .margin-t .main-r .self-good ul li .box p {
            font-size: 12px;
            text-indent: 20px;
            color: #777;
            width: 240px; }
          #main .margin .margin-t .main-r .self-good ul li .box .tip {
            padding: 70px 0 16px 0; }
            #main .margin .margin-t .main-r .self-good ul li .box .tip span {
              font-size: 14px;
              border: 1px solid #C28F42;
              color: #C28F42;
              padding: 4px 6px; }
          #main .margin .margin-t .main-r .self-good ul li .box .goodll {
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: space-between;
            padding: 30px 0;
            font-size: 16px; }
            #main .margin .margin-t .main-r .self-good ul li .box .goodll .good-l {
              color: #8c222c; }
              #main .margin .margin-t .main-r .self-good ul li .box .goodll .good-l i {
                font-weight: 700; }
              #main .margin .margin-t .main-r .self-good ul li .box .goodll .good-l span {
                font-size: 12px; }
            #main .margin .margin-t .main-r .self-good ul li .box .goodll .good-r {
              padding: 6px 18px;
              background: #8c222c;
              color: #fff;
              border-radius: 4px; }
  #main .margin .fture {
    padding: 60px 0;
    display: flex;
    justify-content: space-between; }
    #main .margin .fture li a {
      display: flex; }
      #main .margin .fture li a img {
        width: 390px;
        height: 166px; }

#old-book .old-book-title {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  padding-top: 26px; }
  #old-book .old-book-title span {
    font-size: 30px;
    font-weight: 700; }
  #old-book .old-book-title .old-book-list {
    padding: 14px 0; }
    #old-book .old-book-title .old-book-list a {
      padding: 0 8px;
      font-size: 14px;
      color: #365899; }

#old-book .old-book-all {
  display: flex;
  justify-content: space-between; }
  #old-book .old-book-all .old-l {
    width: 820px;
    margin-right: 30px; }
    #old-book .old-book-all .old-l h5 {
      padding: 26px 0;
      font-size: 12px; }
      #old-book .old-book-all .old-l h5 b {
        font-size: 16px;
        font-weight: 700; }
      #old-book .old-book-all .old-l h5 a {
        color: #365899; }
    #old-book .old-book-all .old-l .old-l-t, #old-book .old-book-all .old-l .old-l-b {
      display: flex;
      justify-content: space-between; }
      #old-book .old-book-all .old-l .old-l-t li a, #old-book .old-book-all .old-l .old-l-b li a {
        font-size: 12px; }
        #old-book .old-book-all .old-l .old-l-t li a img, #old-book .old-book-all .old-l .old-l-b li a img {
          width: 140px;
          height: 140px; }
        #old-book .old-book-all .old-l .old-l-t li a p, #old-book .old-book-all .old-l .old-l-b li a p {
          padding: 10px 0 20px 0; }
        #old-book .old-book-all .old-l .old-l-t li a b, #old-book .old-book-all .old-l .old-l-b li a b {
          color: #666; }
      #old-book .old-book-all .old-l .old-l-t li div, #old-book .old-book-all .old-l .old-l-b li div {
        margin-top: 10px; }
        #old-book .old-book-all .old-l .old-l-t li div i, #old-book .old-book-all .old-l .old-l-b li div i {
          color: #bf7f5f;
          font-size: 14px;
          font-weight: 700; }
        #old-book .old-book-all .old-l .old-l-t li div span, #old-book .old-book-all .old-l .old-l-b li div span {
          font-size: 12px;
          color: #777; }
    #old-book .old-book-all .old-l .old-l-b {
      padding-top: 36px; }
  #old-book .old-book-all .old-r h4 {
    font-size: 16px;
    padding: 26px 0; }
  #old-book .old-book-all .old-r .old-rr {
    border-left: 1px solid #ccc; }
    #old-book .old-book-all .old-r .old-rr li {
      margin-left: 16px;
      padding: 10px 20px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc; }
      #old-book .old-book-all .old-r .old-rr li.first {
        padding-top: 0; }
      #old-book .old-book-all .old-r .old-rr li.last {
        border-bottom: none; }
      #old-book .old-book-all .old-r .old-rr li h5 {
        background: url(../img/yellow.png) no-repeat left/5px 5px; }
        #old-book .old-book-all .old-r .old-rr li h5 a {
          font-size: 14px;
          color: #333;
          margin-left: 8px; }
      #old-book .old-book-all .old-r .old-rr li p {
        font-size: 12px;
        color: #666;
        padding-top: 10px; }

#new-book .new-book-title {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  padding-top: 26px; }
  #new-book .new-book-title span {
    font-size: 30px;
    font-weight: 700; }
  #new-book .new-book-title .new-book-list {
    padding: 14px 0; }
    #new-book .new-book-title .new-book-list a {
      padding: 0 8px;
      font-size: 14px;
      color: #365899; }

#new-book .new-book-all {
  display: flex;
  justify-content: space-between; }
  #new-book .new-book-all .new-l {
    width: 820px;
    margin-right: 30px; }
    #new-book .new-book-all .new-l h5 {
      padding: 26px 0;
      font-size: 12px; }
      #new-book .new-book-all .new-l h5 b {
        font-size: 16px;
        font-weight: 700; }
      #new-book .new-book-all .new-l h5 a {
        color: #365899; }
    #new-book .new-book-all .new-l .new-l-t, #new-book .new-book-all .new-l .new-l-b {
      display: flex;
      justify-content: space-between; }
      #new-book .new-book-all .new-l .new-l-t li a, #new-book .new-book-all .new-l .new-l-b li a {
        font-size: 12px; }
        #new-book .new-book-all .new-l .new-l-t li a img, #new-book .new-book-all .new-l .new-l-b li a img {
          width: 140px;
          height: 140px; }
        #new-book .new-book-all .new-l .new-l-t li a p, #new-book .new-book-all .new-l .new-l-b li a p {
          padding: 10px 0 20px 0; }
        #new-book .new-book-all .new-l .new-l-t li a b, #new-book .new-book-all .new-l .new-l-b li a b {
          color: #666; }
      #new-book .new-book-all .new-l .new-l-t li div, #new-book .new-book-all .new-l .new-l-b li div {
        margin-top: 10px; }
        #new-book .new-book-all .new-l .new-l-t li div i, #new-book .new-book-all .new-l .new-l-b li div i {
          color: #bf7f5f;
          font-size: 14px;
          font-weight: 700; }
        #new-book .new-book-all .new-l .new-l-t li div span, #new-book .new-book-all .new-l .new-l-b li div span {
          font-size: 12px;
          color: #777; }
    #new-book .new-book-all .new-l .new-l-b {
      padding-top: 36px; }
  #new-book .new-book-all .new-r h4 {
    font-size: 16px;
    padding: 26px 0; }
  #new-book .new-book-all .new-r .new-rr {
    border-left: 1px solid #ccc; }
    #new-book .new-book-all .new-r .new-rr li {
      margin-left: 16px;
      padding: 10px 20px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc; }
      #new-book .new-book-all .new-r .new-rr li.first {
        padding-top: 0; }
      #new-book .new-book-all .new-r .new-rr li.last {
        border-bottom: none; }
      #new-book .new-book-all .new-r .new-rr li h5 {
        background: url(../img/yellow.png) no-repeat left/5px 5px; }
        #new-book .new-book-all .new-r .new-rr li h5 a {
          font-size: 14px;
          color: #333;
          margin-left: 8px; }
      #new-book .new-book-all .new-r .new-rr li p {
        font-size: 12px;
        color: #666;
        padding-top: 10px; }

#old-sign {
  background: #f7f7f6; }
  #old-sign .margin .old-sign-title {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    padding-top: 26px; }
    #old-sign .margin .old-sign-title span {
      font-size: 30px;
      font-weight: 700; }
    #old-sign .margin .old-sign-title .old-sign-list {
      padding: 14px 0; }
      #old-sign .margin .old-sign-title .old-sign-list a {
        padding: 0 8px;
        font-size: 14px;
        color: #365899; }
  #old-sign .margin .old-sign-all {
    display: flex;
    justify-content: space-between; }
    #old-sign .margin .old-sign-all .sign-l {
      width: 820px;
      margin-right: 30px; }
      #old-sign .margin .old-sign-all .sign-l h5 {
        padding: 26px 0;
        font-size: 12px; }
        #old-sign .margin .old-sign-all .sign-l h5 b {
          font-size: 16px;
          font-weight: 700; }
        #old-sign .margin .old-sign-all .sign-l h5 a {
          color: #365899; }
      #old-sign .margin .old-sign-all .sign-l .sign-l-t, #old-sign .margin .old-sign-all .sign-l .sign-l-b {
        display: flex;
        justify-content: space-between; }
        #old-sign .margin .old-sign-all .sign-l .sign-l-t li a, #old-sign .margin .old-sign-all .sign-l .sign-l-b li a {
          font-size: 12px; }
          #old-sign .margin .old-sign-all .sign-l .sign-l-t li a img, #old-sign .margin .old-sign-all .sign-l .sign-l-b li a img {
            width: 140px;
            height: 140px; }
          #old-sign .margin .old-sign-all .sign-l .sign-l-t li a p, #old-sign .margin .old-sign-all .sign-l .sign-l-b li a p {
            padding: 10px 0 20px 0; }
          #old-sign .margin .old-sign-all .sign-l .sign-l-t li a b, #old-sign .margin .old-sign-all .sign-l .sign-l-b li a b {
            color: #666; }
        #old-sign .margin .old-sign-all .sign-l .sign-l-t li div, #old-sign .margin .old-sign-all .sign-l .sign-l-b li div {
          margin-top: 10px; }
          #old-sign .margin .old-sign-all .sign-l .sign-l-t li div i, #old-sign .margin .old-sign-all .sign-l .sign-l-b li div i {
            color: #bf7f5f;
            font-size: 14px;
            font-weight: 700; }
          #old-sign .margin .old-sign-all .sign-l .sign-l-t li div span, #old-sign .margin .old-sign-all .sign-l .sign-l-b li div span {
            font-size: 12px;
            color: #777; }
      #old-sign .margin .old-sign-all .sign-l .sign-l-b {
        padding-top: 36px; }
    #old-sign .margin .old-sign-all .sign-r h4 {
      font-size: 16px;
      padding: 26px 0; }
    #old-sign .margin .old-sign-all .sign-r .sign-rr {
      border-left: 1px solid #ccc; }
      #old-sign .margin .old-sign-all .sign-r .sign-rr li {
        margin-left: 16px;
        padding: 10px 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc; }
        #old-sign .margin .old-sign-all .sign-r .sign-rr li.first {
          padding-top: 0; }
        #old-sign .margin .old-sign-all .sign-r .sign-rr li.last {
          border-bottom: none; }
        #old-sign .margin .old-sign-all .sign-r .sign-rr li h5 {
          background: url(../img/yellow.png) no-repeat left/5px 5px; }
          #old-sign .margin .old-sign-all .sign-r .sign-rr li h5 a {
            font-size: 14px;
            color: #333;
            margin-left: 8px; }
        #old-sign .margin .old-sign-all .sign-r .sign-rr li p {
          font-size: 12px;
          color: #666;
          padding-top: 10px; }

#book-srt .margin .book-srt-title {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  padding-top: 26px; }
  #book-srt .margin .book-srt-title span {
    font-size: 30px;
    font-weight: 700; }
  #book-srt .margin .book-srt-title .book-srt-list {
    padding: 14px 0; }
    #book-srt .margin .book-srt-title .book-srt-list a {
      padding: 0 8px;
      font-size: 14px;
      color: #365899; }

#book-srt .margin .book-srt-all {
  display: flex;
  justify-content: space-between; }
  #book-srt .margin .book-srt-all .srt-l {
    width: 820px;
    margin-right: 30px; }
    #book-srt .margin .book-srt-all .srt-l h5 {
      padding: 26px 0;
      font-size: 12px; }
      #book-srt .margin .book-srt-all .srt-l h5 b {
        font-size: 16px;
        font-weight: 700; }
      #book-srt .margin .book-srt-all .srt-l h5 a {
        color: #365899; }
    #book-srt .margin .book-srt-all .srt-l .srt-l-t, #book-srt .margin .book-srt-all .srt-l .srt-l-b {
      display: flex;
      justify-content: space-between; }
      #book-srt .margin .book-srt-all .srt-l .srt-l-t li a, #book-srt .margin .book-srt-all .srt-l .srt-l-b li a {
        font-size: 12px; }
        #book-srt .margin .book-srt-all .srt-l .srt-l-t li a img, #book-srt .margin .book-srt-all .srt-l .srt-l-b li a img {
          width: 140px;
          height: 140px; }
        #book-srt .margin .book-srt-all .srt-l .srt-l-t li a p, #book-srt .margin .book-srt-all .srt-l .srt-l-b li a p {
          padding: 10px 0 20px 0; }
        #book-srt .margin .book-srt-all .srt-l .srt-l-t li a b, #book-srt .margin .book-srt-all .srt-l .srt-l-b li a b {
          color: #666; }
      #book-srt .margin .book-srt-all .srt-l .srt-l-t li div, #book-srt .margin .book-srt-all .srt-l .srt-l-b li div {
        margin-top: 10px; }
        #book-srt .margin .book-srt-all .srt-l .srt-l-t li div i, #book-srt .margin .book-srt-all .srt-l .srt-l-b li div i {
          color: #bf7f5f;
          font-size: 14px;
          font-weight: 700; }
        #book-srt .margin .book-srt-all .srt-l .srt-l-t li div span, #book-srt .margin .book-srt-all .srt-l .srt-l-b li div span {
          font-size: 12px;
          color: #777; }
    #book-srt .margin .book-srt-all .srt-l .srt-l-b {
      padding-top: 36px; }
  #book-srt .margin .book-srt-all .srt-r h4 {
    font-size: 16px;
    padding: 26px 0; }
  #book-srt .margin .book-srt-all .srt-r .srt-rr {
    border-left: 1px solid #ccc; }
    #book-srt .margin .book-srt-all .srt-r .srt-rr li {
      margin-left: 16px;
      padding: 10px 20px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc; }
      #book-srt .margin .book-srt-all .srt-r .srt-rr li.first {
        padding-top: 0; }
      #book-srt .margin .book-srt-all .srt-r .srt-rr li.last {
        border-bottom: none; }
      #book-srt .margin .book-srt-all .srt-r .srt-rr li h5 {
        background: url(../img/yellow.png) no-repeat left/5px 5px; }
        #book-srt .margin .book-srt-all .srt-r .srt-rr li h5 a {
          font-size: 14px;
          color: #333;
          margin-left: 8px; }
      #book-srt .margin .book-srt-all .srt-r .srt-rr li p {
        font-size: 12px;
        color: #666;
        padding-top: 10px; }

#old-look {
  background: #f7f7f6; }
  #old-look .margin .old-look-title {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    padding-top: 26px; }
    #old-look .margin .old-look-title span {
      font-size: 30px;
      font-weight: 700; }
    #old-look .margin .old-look-title .old-look-list {
      padding: 14px 0; }
      #old-look .margin .old-look-title .old-look-list a {
        padding: 0 8px;
        font-size: 14px;
        color: #365899; }
  #old-look .margin .old-look-all {
    display: flex;
    justify-content: space-between; }
    #old-look .margin .old-look-all .look-l {
      width: 820px;
      margin-right: 30px; }
      #old-look .margin .old-look-all .look-l h5 {
        padding: 26px 0;
        font-size: 12px; }
        #old-look .margin .old-look-all .look-l h5 b {
          font-size: 16px;
          font-weight: 700; }
        #old-look .margin .old-look-all .look-l h5 a {
          color: #365899; }
      #old-look .margin .old-look-all .look-l .look-l-t, #old-look .margin .old-look-all .look-l .look-l-b {
        display: flex;
        justify-content: space-between; }
        #old-look .margin .old-look-all .look-l .look-l-t li a, #old-look .margin .old-look-all .look-l .look-l-b li a {
          font-size: 12px; }
          #old-look .margin .old-look-all .look-l .look-l-t li a img, #old-look .margin .old-look-all .look-l .look-l-b li a img {
            width: 140px;
            height: 140px; }
          #old-look .margin .old-look-all .look-l .look-l-t li a p, #old-look .margin .old-look-all .look-l .look-l-b li a p {
            padding: 10px 0 20px 0; }
          #old-look .margin .old-look-all .look-l .look-l-t li a b, #old-look .margin .old-look-all .look-l .look-l-b li a b {
            color: #666; }
        #old-look .margin .old-look-all .look-l .look-l-t li div, #old-look .margin .old-look-all .look-l .look-l-b li div {
          margin-top: 10px; }
          #old-look .margin .old-look-all .look-l .look-l-t li div i, #old-look .margin .old-look-all .look-l .look-l-b li div i {
            color: #bf7f5f;
            font-size: 14px;
            font-weight: 700; }
          #old-look .margin .old-look-all .look-l .look-l-t li div span, #old-look .margin .old-look-all .look-l .look-l-b li div span {
            font-size: 12px;
            color: #777; }
      #old-look .margin .old-look-all .look-l .look-l-b {
        padding-top: 36px; }
    #old-look .margin .old-look-all .look-r h4 {
      font-size: 16px;
      padding: 26px 0; }
    #old-look .margin .old-look-all .look-r .look-rr {
      border-left: 1px solid #ccc; }
      #old-look .margin .old-look-all .look-r .look-rr li {
        margin-left: 16px;
        padding: 10px 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc; }
        #old-look .margin .old-look-all .look-r .look-rr li.first {
          padding-top: 0; }
        #old-look .margin .old-look-all .look-r .look-rr li.last {
          border-bottom: none; }
        #old-look .margin .old-look-all .look-r .look-rr li h5 {
          background: url(../img/yellow.png) no-repeat left/5px 5px; }
          #old-look .margin .old-look-all .look-r .look-rr li h5 a {
            font-size: 14px;
            color: #333;
            margin-left: 8px; }
        #old-look .margin .old-look-all .look-r .look-rr li p {
          font-size: 12px;
          color: #666;
          padding-top: 10px; }

#old-people .margin .old-people-title {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  padding-top: 26px; }
  #old-people .margin .old-people-title span {
    font-size: 30px;
    font-weight: 700; }
  #old-people .margin .old-people-title .old-people-list {
    padding: 14px 0; }
    #old-people .margin .old-people-title .old-people-list a {
      padding: 0 8px;
      font-size: 14px;
      color: #365899; }

#old-people .margin .old-people-all {
  display: flex;
  justify-content: space-between; }
  #old-people .margin .old-people-all .people-l {
    width: 820px;
    margin-right: 30px; }
    #old-people .margin .old-people-all .people-l h5 {
      padding: 26px 0;
      font-size: 12px; }
      #old-people .margin .old-people-all .people-l h5 b {
        font-size: 16px;
        font-weight: 700; }
      #old-people .margin .old-people-all .people-l h5 a {
        color: #365899; }
    #old-people .margin .old-people-all .people-l .people-l-t, #old-people .margin .old-people-all .people-l .people-l-b {
      display: flex;
      justify-content: space-between; }
      #old-people .margin .old-people-all .people-l .people-l-t li a, #old-people .margin .old-people-all .people-l .people-l-b li a {
        font-size: 12px; }
        #old-people .margin .old-people-all .people-l .people-l-t li a img, #old-people .margin .old-people-all .people-l .people-l-b li a img {
          width: 140px;
          height: 140px; }
        #old-people .margin .old-people-all .people-l .people-l-t li a p, #old-people .margin .old-people-all .people-l .people-l-b li a p {
          padding: 10px 0 20px 0; }
        #old-people .margin .old-people-all .people-l .people-l-t li a b, #old-people .margin .old-people-all .people-l .people-l-b li a b {
          color: #666; }
      #old-people .margin .old-people-all .people-l .people-l-t li div, #old-people .margin .old-people-all .people-l .people-l-b li div {
        margin-top: 10px; }
        #old-people .margin .old-people-all .people-l .people-l-t li div i, #old-people .margin .old-people-all .people-l .people-l-b li div i {
          color: #bf7f5f;
          font-size: 14px;
          font-weight: 700; }
        #old-people .margin .old-people-all .people-l .people-l-t li div span, #old-people .margin .old-people-all .people-l .people-l-b li div span {
          font-size: 12px;
          color: #777; }
    #old-people .margin .old-people-all .people-l .people-l-b {
      padding-top: 36px; }
  #old-people .margin .old-people-all .people-r h4 {
    font-size: 16px;
    padding: 26px 0; }
  #old-people .margin .old-people-all .people-r .people-rr {
    border-left: 1px solid #ccc; }
    #old-people .margin .old-people-all .people-r .people-rr li {
      margin-left: 16px;
      padding: 10px 20px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc; }
      #old-people .margin .old-people-all .people-r .people-rr li.first {
        padding-top: 0; }
      #old-people .margin .old-people-all .people-r .people-rr li.last {
        border-bottom: none; }
      #old-people .margin .old-people-all .people-r .people-rr li h5 {
        background: url(../img/yellow.png) no-repeat left/5px 5px; }
        #old-people .margin .old-people-all .people-r .people-rr li h5 a {
          font-size: 14px;
          color: #333;
          margin-left: 8px; }
      #old-people .margin .old-people-all .people-r .people-rr li p {
        font-size: 12px;
        color: #666;
        padding-top: 10px; }

#old-sell {
  background: #f7f7f6; }
  #old-sell .margin .old-sell-title {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    padding-top: 26px; }
    #old-sell .margin .old-sell-title span {
      font-size: 30px;
      font-weight: 700; }
    #old-sell .margin .old-sell-title .old-sell-list {
      padding: 14px 0; }
      #old-sell .margin .old-sell-title .old-sell-list a {
        padding: 0 8px;
        font-size: 14px;
        color: #365899; }
  #old-sell .margin .old-sell-all {
    display: flex;
    justify-content: space-between; }
    #old-sell .margin .old-sell-all .sell-l {
      width: 820px;
      margin-right: 30px; }
      #old-sell .margin .old-sell-all .sell-l h5 {
        padding: 26px 0;
        font-size: 12px; }
        #old-sell .margin .old-sell-all .sell-l h5 b {
          font-size: 16px;
          font-weight: 700; }
        #old-sell .margin .old-sell-all .sell-l h5 a {
          color: #365899; }
      #old-sell .margin .old-sell-all .sell-l .sell-l-t, #old-sell .margin .old-sell-all .sell-l .sell-l-b {
        display: flex;
        justify-content: space-between; }
        #old-sell .margin .old-sell-all .sell-l .sell-l-t li a, #old-sell .margin .old-sell-all .sell-l .sell-l-b li a {
          font-size: 12px; }
          #old-sell .margin .old-sell-all .sell-l .sell-l-t li a img, #old-sell .margin .old-sell-all .sell-l .sell-l-b li a img {
            width: 140px;
            height: 140px; }
          #old-sell .margin .old-sell-all .sell-l .sell-l-t li a p, #old-sell .margin .old-sell-all .sell-l .sell-l-b li a p {
            padding: 10px 0 20px 0; }
          #old-sell .margin .old-sell-all .sell-l .sell-l-t li a b, #old-sell .margin .old-sell-all .sell-l .sell-l-b li a b {
            color: #666; }
        #old-sell .margin .old-sell-all .sell-l .sell-l-t li div, #old-sell .margin .old-sell-all .sell-l .sell-l-b li div {
          margin-top: 10px; }
          #old-sell .margin .old-sell-all .sell-l .sell-l-t li div i, #old-sell .margin .old-sell-all .sell-l .sell-l-b li div i {
            color: #bf7f5f;
            font-size: 14px;
            font-weight: 700; }
          #old-sell .margin .old-sell-all .sell-l .sell-l-t li div span, #old-sell .margin .old-sell-all .sell-l .sell-l-b li div span {
            font-size: 12px;
            color: #777; }
      #old-sell .margin .old-sell-all .sell-l .sell-l-b {
        padding-top: 36px; }
    #old-sell .margin .old-sell-all .sell-r h4 {
      font-size: 16px;
      padding: 26px 0; }
    #old-sell .margin .old-sell-all .sell-r .sell-rr {
      border-left: 1px solid #ccc; }
      #old-sell .margin .old-sell-all .sell-r .sell-rr li {
        margin-left: 16px;
        padding: 10px 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc; }
        #old-sell .margin .old-sell-all .sell-r .sell-rr li.first {
          padding-top: 0; }
        #old-sell .margin .old-sell-all .sell-r .sell-rr li.last {
          border-bottom: none; }
        #old-sell .margin .old-sell-all .sell-r .sell-rr li h5 {
          background: url(../img/yellow.png) no-repeat left/5px 5px; }
          #old-sell .margin .old-sell-all .sell-r .sell-rr li h5 a {
            font-size: 14px;
            color: #333;
            margin-left: 8px; }
        #old-sell .margin .old-sell-all .sell-r .sell-rr li p {
          font-size: 12px;
          color: #666;
          padding-top: 10px; }

#old-girl .margin .old-girl-title {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  padding-top: 26px; }
  #old-girl .margin .old-girl-title span {
    font-size: 30px;
    font-weight: 700; }
  #old-girl .margin .old-girl-title .old-girl-list {
    padding: 14px 0; }
    #old-girl .margin .old-girl-title .old-girl-list a {
      padding: 0 8px;
      font-size: 14px;
      color: #365899; }

#old-girl .margin .old-girl-all {
  display: flex;
  justify-content: space-between; }
  #old-girl .margin .old-girl-all .girl-l {
    width: 820px;
    margin-right: 30px; }
    #old-girl .margin .old-girl-all .girl-l h5 {
      padding: 26px 0;
      font-size: 12px; }
      #old-girl .margin .old-girl-all .girl-l h5 b {
        font-size: 16px;
        font-weight: 700; }
      #old-girl .margin .old-girl-all .girl-l h5 a {
        color: #365899; }
    #old-girl .margin .old-girl-all .girl-l .girl-l-t, #old-girl .margin .old-girl-all .girl-l .girl-l-b {
      display: flex;
      justify-content: space-between; }
      #old-girl .margin .old-girl-all .girl-l .girl-l-t li a, #old-girl .margin .old-girl-all .girl-l .girl-l-b li a {
        font-size: 12px; }
        #old-girl .margin .old-girl-all .girl-l .girl-l-t li a img, #old-girl .margin .old-girl-all .girl-l .girl-l-b li a img {
          width: 140px;
          height: 140px; }
        #old-girl .margin .old-girl-all .girl-l .girl-l-t li a p, #old-girl .margin .old-girl-all .girl-l .girl-l-b li a p {
          padding: 10px 0 20px 0; }
        #old-girl .margin .old-girl-all .girl-l .girl-l-t li a b, #old-girl .margin .old-girl-all .girl-l .girl-l-b li a b {
          color: #666; }
      #old-girl .margin .old-girl-all .girl-l .girl-l-t li div, #old-girl .margin .old-girl-all .girl-l .girl-l-b li div {
        margin-top: 10px; }
        #old-girl .margin .old-girl-all .girl-l .girl-l-t li div i, #old-girl .margin .old-girl-all .girl-l .girl-l-b li div i {
          color: #bf7f5f;
          font-size: 14px;
          font-weight: 700; }
        #old-girl .margin .old-girl-all .girl-l .girl-l-t li div span, #old-girl .margin .old-girl-all .girl-l .girl-l-b li div span {
          font-size: 12px;
          color: #777; }
    #old-girl .margin .old-girl-all .girl-l .girl-l-b {
      padding-top: 36px; }
  #old-girl .margin .old-girl-all .girl-r h4 {
    font-size: 16px;
    padding: 26px 0; }
  #old-girl .margin .old-girl-all .girl-r .girl-rr {
    border-left: 1px solid #ccc; }
    #old-girl .margin .old-girl-all .girl-r .girl-rr li {
      margin-left: 16px;
      padding: 10px 20px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc; }
      #old-girl .margin .old-girl-all .girl-r .girl-rr li.first {
        padding-top: 0; }
      #old-girl .margin .old-girl-all .girl-r .girl-rr li.last {
        border-bottom: none; }
      #old-girl .margin .old-girl-all .girl-r .girl-rr li h5 {
        background: url(../img/yellow.png) no-repeat left/5px 5px; }
        #old-girl .margin .old-girl-all .girl-r .girl-rr li h5 a {
          font-size: 14px;
          color: #333;
          margin-left: 8px; }
      #old-girl .margin .old-girl-all .girl-r .girl-rr li p {
        font-size: 12px;
        color: #666;
        padding-top: 10px; }

#old-srtsell {
  background: #f7f7f6; }
  #old-srtsell .margin .old-srtsell-title {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    padding-top: 26px; }
    #old-srtsell .margin .old-srtsell-title span {
      font-size: 30px;
      font-weight: 700; }
    #old-srtsell .margin .old-srtsell-title .old-srtsell-list {
      padding: 14px 0; }
      #old-srtsell .margin .old-srtsell-title .old-srtsell-list a {
        padding: 0 8px;
        font-size: 14px;
        color: #365899; }
  #old-srtsell .margin .old-srtsell-all {
    display: flex;
    justify-content: space-between; }
    #old-srtsell .margin .old-srtsell-all .srtsell-l {
      width: 820px;
      margin-right: 30px; }
      #old-srtsell .margin .old-srtsell-all .srtsell-l h5 {
        padding: 26px 0;
        font-size: 12px; }
        #old-srtsell .margin .old-srtsell-all .srtsell-l h5 b {
          font-size: 16px;
          font-weight: 700; }
        #old-srtsell .margin .old-srtsell-all .srtsell-l h5 a {
          color: #365899; }
      #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-t, #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-b {
        display: flex;
        justify-content: space-between; }
        #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-t li a, #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-b li a {
          font-size: 12px; }
          #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-t li a img, #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-b li a img {
            width: 140px;
            height: 140px; }
          #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-t li a p, #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-b li a p {
            padding: 10px 0 20px 0; }
          #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-t li a b, #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-b li a b {
            color: #666; }
        #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-t li div, #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-b li div {
          margin-top: 10px; }
          #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-t li div i, #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-b li div i {
            color: #bf7f5f;
            font-size: 14px;
            font-weight: 700; }
          #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-t li div span, #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-b li div span {
            font-size: 12px;
            color: #777; }
      #old-srtsell .margin .old-srtsell-all .srtsell-l .srtsell-l-b {
        padding-top: 36px; }
    #old-srtsell .margin .old-srtsell-all .srtsell-r h4 {
      font-size: 16px;
      padding: 26px 0; }
    #old-srtsell .margin .old-srtsell-all .srtsell-r .srtsell-rr {
      border-left: 1px solid #ccc; }
      #old-srtsell .margin .old-srtsell-all .srtsell-r .srtsell-rr li {
        margin-left: 16px;
        padding: 10px 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc; }
        #old-srtsell .margin .old-srtsell-all .srtsell-r .srtsell-rr li.first {
          padding-top: 0; }
        #old-srtsell .margin .old-srtsell-all .srtsell-r .srtsell-rr li.last {
          border-bottom: none; }
        #old-srtsell .margin .old-srtsell-all .srtsell-r .srtsell-rr li h5 {
          background: url(../img/yellow.png) no-repeat left/5px 5px; }
          #old-srtsell .margin .old-srtsell-all .srtsell-r .srtsell-rr li h5 a {
            font-size: 14px;
            color: #333;
            margin-left: 8px; }
        #old-srtsell .margin .old-srtsell-all .srtsell-r .srtsell-rr li p {
          font-size: 12px;
          color: #666;
          padding-top: 10px; }

#company h5 {
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding: 40px 0  14px 0; }
  #company h5 b {
    font-size: 20px;
    font-weight: 700; }
  #company h5 a {
    color: #365899; }

#company .company-a {
  display: flex;
  justify-content: space-between;
  padding: 20px 0; }
  #company .company-a span {
    font-size: 14px;
    color: #aa987d;
    background: #f3f0e9;
    padding: 8px 72px; }
  #company .company-a a {
    display: flex; }
    #company .company-a a img {
      width: 200px;
      height: 30px; }

#company .company-b {
  display: flex;
  justify-content: space-between;
  padding: 10px 0; }
  #company .company-b a {
    display: flex; }
    #company .company-b a img {
      width: 200px;
      height: 30px; }

#company .company-c {
  display: flex;
  justify-content: space-between;
  padding: 10px 0; }
  #company .company-c a img {
    width: 200px;
    height: 30px; }

#company .company-d {
  display: flex;
  justify-content: space-between;
  padding: 10px 0; }
  #company .company-d span {
    font-size: 14px;
    color: #aa987d;
    background: #f3f0e9;
    padding: 8px 72px; }
  #company .company-d a {
    display: flex; }
    #company .company-d a img {
      width: 200px;
      height: 30px; }

#company .company-e {
  display: flex;
  justify-content: space-between;
  padding: 10px 0; }
  #company .company-e a img {
    width: 200px;
    height: 30px; }

#company .company-f {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 80px 0; }
  #company .company-f a {
    width: 200px;
    height: 30px;
    display: flex; }
    #company .company-f a img {
      width: 200px;
      height: 30px; }

footer {
  color: #666; }
  footer .footer-t {
    border: 1px solid #ccc;
    margin-bottom: 30px; }
    footer .footer-t h3 {
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      padding: 8px 0; }
      footer .footer-t h3 a {
        padding: 0 10px; }
    footer .footer-t p {
      padding: 16px 0; }
      footer .footer-t p a {
        font-size: 12px;
        padding: 0 10px; }
  footer .footer-m {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 16px 0 12px 0;
    font-size: 12px; }
    footer .footer-m .fr a {
      padding: 0 10px;
      color: #365899; }
  footer .footer-b {
    font-size: 12px;
    padding-bottom: 30px; }
    footer .footer-b span {
      padding: 0 6px; }
    footer .footer-b i {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url(../img/beian.png) no-repeat left/12px 12px; }
